/*------------------------------------------------------------------

Author           : @andikachamberlin
Author URI       : flamecore.cloud

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color]
-------------------------------------------------------------------*/
$main-color : #118ab2;
$second-color : #f4c300;
/*------------------------------------------------------------------
[End Color]
-------------------------------------------------------------------*/

