@font-face {
    font-family: "Quicksand-Regular";
    src: local("Quicksand-Regular"),
        url("./assets/fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: local("Quicksand-Medium"),
        url("./assets/fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-SemiBold";
    src: local("Quicksand-SemiBold"),
        url("./assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: local("Quicksand-Bold"),
        url("./assets/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: local("Inter-Regular"),
        url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Medium";
    src: local("Inter-Medium"),
        url("./assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: local("Inter-SemiBold"),
        url("./assets/fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold"),
        url("./assets/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: 'Inter-Regular', 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
